* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
    line-height: 1.5;
}
.welcome{
        padding-top: 5%;
        text-align: center;
        margin: 0;
    }
.welcome h2{
    font-size:50px;
    margin-bottom: 3%;
}
.welcome p{
    margin: 30px 18%;
    letter-spacing: 1px;
    color: #999;
}
.wire{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    margin-top: -70px;
}
.wireframe{
    padding: 100px;
    padding-top: 0;
    text-align: center;
    width: 1005;
}
.items{
    padding: 50px;
    border: 1px;
    width: 25%;
}
h3{
    margin-bottom: 7%;
    margin-top: 10%;
    font-size: 36px;
}
.items p{
    color: #999;
}
.doghome{
    background-image: url(../img/1.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    overflow: auto;
    color: white;
    position: relative;

}
#logo{
    float: left;
    margin-left: 50px;
}
nav{
    float: right;
    margin-right: 50px;
}
.home{
    background-color: white;
    padding: 3px;
    margin-top: -3px;
    border-radius: 10px;
}
.home a{
    text-decoration: none;
    color: black;
}
nav>ul{
    display: flex;
    list-style-type: none;
}
nav >ul >li{
    margin: 0 5px;
}
.static{
    color: black;
    
}
nav a:hover{
    background-color: white;
    color: black;
    border-radius: 10px;
}

nav a{
    text-decoration: none;
    color: white;
    padding: 15px;
    display: block;
}
.header-center{
    text-align: center;
    position: absolute;
    top: 50%;
    left:50%;
}
.header-center{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-286px, -145px);
}
.header-center h2{
    font-size: 50px;
}
.header-center p{
    letter-spacing: 1px;
}
.read{
    border-radius: 10px;
    border: 2px solid white;
    padding: 15px;
    color: white;
    text-decoration: none;
}
.header-center a{
    margin-top: 50px;
    display: inline-block;
}
.img{
    width: 80%;
}
.items img{
    border: 1px;
    border-radius: 50%;
}
.statistics {
    text-align: center;
    color: white;
    padding: 50px;
    background-image: url('../img/bg.jpg');
    background-size: cover;
    overflow:auto;
}
.statistics h3{
    margin-top: 10px;
    font-size: 36px;
}
.statistics-content div{
    float: left;
    padding: 10px;
    width: 25%;
}
.statistics-content p:first-child{
    font-size: 76px;
    text-align: center;
    margin: 0;
}
.left{
    width: 90%;
    text-align: left;
    padding: 0 50px;


}
.pet-services{
    grid-template-columns: 40% 60%;
    display: grid;
}
.pet-services p:first-child{
    line-height: 1.5;
    letter-spacing: 1px;
    color: #999;
    
}
.pet-services p{
    line-height: 2.5;
    letter-spacing: 1px;
    color: #999;
}
#services{
    padding: 100px;
    background-color: white;
}
#services #right {
    float: left;
}
.pet-services #right{
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    display: grid;
    justify-content: space-around;
    align-content: space-around;
}
#services .item{
    margin-right: 2%;
    margin-bottom: 5%;
    padding: 50px;
    text-align: center;
    box-shadow: 7px 7px 10px 0 rgb(76 110 245 / 40%);
    background: #fff;
}
.item i{
    font-size: 50px;
}
.testominal {
    text-align: center;
    color: white;
    padding: 50px;
    margin-top: 50px;
    background-image: url('../img/bg.jpg');
    background-size: cover;
    overflow:auto;
}
.container{
    display: flex;
    padding: 0px 230px;
    width: 100%;
}
.testominal-content {
    display: flex;
}
.testominal-content p{
    text-align: center;
    margin-bottom: 50px;
}
.testominal-content div{
    width: 35%;
    padding: 0px 92px;
}
.testominal-content h4{
    text-align: right;
    color:  #ff9900;
    font-weight: 600;
    font-size: 18px;
}
.testominal-content img{
    border-radius: 50%;
}
.testominal-h3{
    margin-bottom: 7%;
    margin-top: 3%;
    font-size: 36px;
}
.our-bigger h3{
    text-align: center;
}
.our-content-list{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.our-content img{
    width: 100%;
}
.our-content-firt{
    width: 25%;
}
.our-content-first{
    border-radius: 5%;
    border: solid 2px rgb(219, 219, 219);
    margin-top: -9px;
    padding: 15px;
}
.our-content-first a{
    text-decoration: none;
    font-size: 21px;
    font-weight: 400;
}
.our-content-first a:first-child{
    color: black;
}
.our-content-first p{
    color: #999;
}
.our-content-first a{
    color: #ff9900;
}
.our-content-listyle{
    border-radius: 5%;  
    border: solid 2px rgb(219, 219, 219);
    width: 31%;
    color: #1f1f1f;
    font-size: 21px;
    font-weight: 400;
}
.our-content-listyle-one{
    margin: 57px 84px;
}
.our-content-listyle-two{
    padding: 59px;
    margin-top: -100px;
    margin-right: 7px;
}
.contact-state-us-content div{
}   
.our-content-listyle-three{
    padding: 22px 35px;
    margin-top: -84px;
}
.our-content-listyle a{
    text-decoration: none;
    color:#1f1f1f;
    font-weight: 400;
}
.our-content-listyle p{
    color:#ff9900;
    font-size: 16px;
}
iframe{
    margin-top: 80px;
}
.contact-state-us{
    padding: 30px 300px;

}
.contact-state-us h2{
    text-align: center;
}

.ob-items{
    display: flex;
    width: 25%;
    margin-top: 0px;

}
.ob-items-left{
    margin-top: -8px;
    margin-bottom: 5px;
}
.ob-items p{
    color: #999;
}
.ob-items i{
    width: 30%;
    margin-top: 10px;
    font-size: 35px;
    font-weight: 400;
}
.ob-form{
    width: 50%;
    float: right;
    position: relative;
    background: white;
    padding: 100px;
    margin-top: -416px;
    box-shadow: 7px 7px 10px 0 rgb(56 79 56 / 32%);
    background-color: #f7f7f7;

}
.contact-state-us h2{
    margin-bottom: 100px;
}
.ob-form-bigger {
    margin-top: -100px;
    margin-left: -92px;
    padding: 10px;
}
.form-control{
    margin-bottom: 18px;
    width: 120%;
    padding: 11px;
    border: 1px solid #e6e6e6;
    border-radius: 8px;
}
.fr-email{
    width: 120%;
    height: 170px;
    padding: 15px;
    border: 1px solid #e6e6e6;
}
.button{
    background-color: #ff9900;
    width: 120%;
    height: 50px;
    color: white;
    border: 1px;
    position: relative;
    margin-top: 19px;
    border-radius: 9px;
}
#contact{
    color: #ff9900;
    text-align: left;
    margin-top: -50px;
    position:absolute;
}
footer{
    margin-top: 51px;
    width: 100%;
    background-color: #1f1f1f;
    height: auto;
    position: absolute;

}
button a{
    color: #f7f7f7;
    text-decoration: none;
}
.footer-content-list{
    display: flex;
    width: 100%;
    color: white;
    justify-content: space-around;
}
.footer-content-list div{
    width: 15%;
}
.footer-content-list h3{
    font-size: 16px;
}
.footer-content-list p{
    font-size: 15px;
    color: #727377;
}
.mailbox{
    padding: 15px;
    margin-top: 20px;
}
.emaill{
    padding: 15px;
    background-color: #ff9900;
}
.button-two{
    background-color: #ff9900;
    width: 60px;
    height: 50px;
    color: white;
    border: 1px;
    border-radius: 0px;
    margin-top: 20px;
}

.font-icon{
    display: flex;
    justify-content: space-around;
    margin: 50px 10px;
    width: 100%;
    font-size: 28px;
}
.font-icon .ti-microsoft{
    margin-left: -30px;
}
.list-font-icon{
    width: 100%;
}
#font-icon{
    width: 100%;
    justify-content: space-between;
    padding: 13px;
    text-align: center;
    font-size: 30px;
    letter-spacing: 7px;
    margin-left: -43px;
}
#right .item:hover {
    background: #ff9900;
    color:white;
}
#fb{
    background-color: #3b5998;
    color: white;
}
.ob-form .button:hover{
    background-color: #ff9900;
}
.apple{
    display: flex;
}
#twitter{
    background-color: #1da1f2;
    color: white;
}
#drib{
    background-color: #ea4c89;
    color: white
}
#google{
 background-color: #f44336;
 color: white;   
}
#font-icon a{
    display: -webkit-inline-box;
    padding: 4px;
    text-align: center;
    width: 37px;
    height: 37px;
    font-size: 22px;
    margin-right: 0px;
    left: 10%;
}
 .menu{
    display: none;
    color: black;
    text-decoration: none;
    padding: 15px;
    margin-right: 0px;
    width: 100%;
}
.menuu button{
    display: none;
    float: right;
    margin: 10px 90px;
    padding: 5px;
    width: 180px;
    border-radius: 20px;
}
.footer-content-list h2{
    font-size: 31px;
    font-weight: normal;
    text-align: left;
}
.footer-content-list div{
    width: 20%;
    margin: 3px 10px;
}
.text{
    display: block;
    margin: 0px 20px;
    width: 100%;
    text-align: left;
}
.title{
    display: flex;
    width: 1300px;
    margin: 45px 300px;
}
.title2{
    width: 100%;
    margin: 0px 36px;
}
.title3{
    width: 100%;
}
.title3 .text{
    margin: 0px 18px;
}
.title4{
    color: white;
    font-weight: normal;
    width: 100%;
}
.title2 .text{
    width: 100%;
    display: block;
    margin: 0px 3px;
    text-align: left;
}

.title3 h2{
    color: white;
    font-weight: normal;
}
.title h2{
    color: white;
    font-weight: normal;
}
.title2 h2{
    color: white;
    font-weight: normal;
}
.title4{
    color: white;
    font-weight: normal;
}
.title3 h3{
    margin-bottom: 7%;
    margin-top: 10%;
    font-size: 20px;
    color: white;
    font-weight: normal;
}
title p{
    color: #999;
}
.title2 p{
    color: #999;
}
.title3 p{
    color: #999;
}
.title4 p{
    color: #999;
    width: 377px;
}
.text p{
    color: #999;
    width: 200px;
    line-height: 27px;
    margin: 0px 0px;
}
.about{
    margin: 25px 0px;
    font-size: 31px;
    font-weight: normal
}
.footer-content-list{
    display: flex;
    width: 992px;
    color: white;
    overflow: hidden;
    justify-content: center;
}   
#font-icon{
    display: flex;
    margin: -4px -13px;
    width: 80%;
    justify-content: space-around;
}
.firstt{
    width: 313px;
}
.button-two{
    margin:17px 0px ;
}
.mailbox{
    margin: 17px -1px;
}
@media only screen and (max-width:992px) {
    .doghome ul{
        display: none;
    }
    .menu{
        display: block;
    }
    .menuu button{
        display: block;
    }
    body{
        display: block;
    }
    .wire{
        display: flex;
    }
    .items{
        width: 50%;
    }
    .statistics-content div{
        width: 50%;
    }
    .header-center h2{
        text-align: center;
        font-size: 72px;
        margin: 40px 5px;
        line-height: 70px;
        width: 100%;
    }
    .pet-services #right{
        grid-template-columns: 50% 50%;
        grid-template-rows: 40% 40%;
        display: grid;
        justify-content: space-around;
        align-content: space-around;
    }
    #services{
        padding:0px;
        background-color: white;
    }
    .testominal-content div{
        width: 75%;
        margin: 0px 30px;
        padding: 0px 10px;
    }
    .container{
        display: flex;
        padding: 0px 0px;
        width: 100%;
        text-align: center;
    }
    .testominal{
        width: 992px;
    }
    .testominal-content p{
        text-align: center;
        margin-bottom: 50px;
        width: 225px;
    }
    .our-content-listyle a{
        text-decoration: none;
        color: #1f1f1f;
        font-weight: bold;
    }
    .our-content-listyle{
       text-align: left;
       border-radius: 5%;
       border: solid 2px rgb(219, 219, 219);
       width: 37%;
       color: #1f1f1f;
       font-size: 21px;
       font-weight: 400;
    }
    .our-content-listyle-one{
        margin: 10px 10px;
    }
    .our-content-listyle-two{
        margin: 0px 10px;
        padding: 0px;
    }
    .our-content-listyle-three{
        margin:0px 10px;
        padding:0px;
    }
    .contact-state-us{
        padding: 0px 70px;
    }
    .ob-form{
        padding: 100px;
        margin-top: -440px;
        border-radius: 20px;
    }
    .footer-content-list h2{
        font-size: 31px;
        font-weight: normal;
        text-align: left;
    }
    .footer-content-list div{
        width: 20%;
        margin: 3px 10px;
    }
    .about{
        margin: 25px 0px;
        font-size: 31px;
        font-weight: normal
    }
    .footer-content-list{
        display: flex;
        width: 992px;
        color: white;
        overflow: hidden;
        justify-content: center;
    }   
    #font-icon{
        display: flex;
        margin: -4px -13px;
    }
    .firstt{
        width: 313px;
    }
    .button-two{
        margin:17px -10px ;
    }
    .mailbox{
        margin: 19px -1px;
    }

.footer-content-list div{
    width: 20%;
    margin: 3px 10px;
}
.text{
    display: block;
    margin: 0px 20px;
    text-align: left;
}
.title{
    display: flex;
    width:992px;
    margin: 0;
}
.title2{
    width: 100%;
    margin: 0px -20px;
}
.title3{
    width: 100%;
}
.title3 .text{
    margin: 0px 38px;
}
.title4{
    margin: 0px 18px;
}
.title2 .text{
    width: 100%;
    display: block;
    margin: 0px 3px;
    text-align: left;
}
.title3 h2{
    color: white;
    font-weight: normal;
}
.title h2{
    color: white;
    font-weight: normal;
}
.title2 h2{
    color: white;
    font-weight: normal;
}
.title4{
    color: white;
    font-weight: normal;
}
.title3 h3{
    margin-bottom: 7%;
    margin-top: 10%;
    font-size: 20px;
    color: white;
    font-weight: normal;
}
title p{
    color: #999;
}
.title2 p{
    color: #999;
}
.title3 p{
    color: #999;
}
.title4 p{
    color: #999;
    width: 300px;
}
.text p{
    color: #999;
    width: 200px;
    margin: 0px 0px;
}
#font-icon{
    width: 84%;
    justify-content: space-between;
    padding: 13px;
    text-align: center;
    font-size: 30px;
    letter-spacing: 7px;
}
.about{
    margin: 25px 0px;
    font-size: 31px;
    font-weight: normal
}
.footer-content-list{
    display: flex;
    width: 992px;
    color: white;
    overflow: hidden;
    justify-content: center;
}   
#font-icon{
    display: flex;
    margin: -4px -13px;
}
.firstt{
    width: 313px;
}
.button-two{
    margin: 17px -1px;
}
.mailbox{
    margin:16px -1px;
}  
} 
@media only screen and (max-width:576px) {
    .doghome ul{
        display: none;
        width: 576px;
    }
    .menu{
        display: block;
        color: black;
        text-decoration: none;
        padding: 12px;
        margin-right: 0px;
        margin: 0px 0px;
        width: 100%;
    }
    .menuu button{
        display: block;
        float: right;
        margin: 10px 25px;
        padding: 5px;
        width: 110px;
        border: 4px solid;
        border-radius: 10px;
    }
    body{
        display: block;
    }
    .wire{
        display: block;
    }
    .items{
        width: 100%;
    }
    .statistics-content div{
        width: 100%;
    }
    .header-center h2{
        text-align: center;
        font-size: 27px;
        margin: 40px 10px;
        line-height: 30px;
        width: 576px;
    }
    .img{
        width: 576px;
    }
    .wireframe h3{
        margin: 50px 10px;
        font-size: 36px;
    }
    .left{
        width: 576px;
        text-align: left;
        margin: 0px -2px;
        background: whitesmoke;
        display: block;
    }
    .left h3{
        margin: 50px -20px;
        font-size: 36px;
    }
    .pet-services p{
        line-height: 2.5;
        letter-spacing: 1px;
        color: #999;
        width: 576px;
        margin: 0px -30px;
    }
    #services #right{
        float: left;
        display: block;
        margin: 0px -1px;
        background-color: whitesmoke;
    }
    #services .item{
        margin: 19px 0px;
        padding: 19px;
        text-align: center;
        width: 576px;
        box-shadow: 7px 7px 10px 0 rgb(76 110 245 / 40%);
        background: #fff;
    }
    #services{
        display: block;
    }
    .testominal-content{
        display: block;
    }
    .pet-services #right{
        grid-template-columns: 50% 50%;
        grid-template-rows: 40% 40%;
        display: grid;
        justify-content: space-around;
        align-content: space-around;
    }
    #services{
        padding:0px;
        background-color: white;
    }
    .testominal-content div{
        width: 85%;
        margin: 0px 30px;
        padding: 0px 10px;
    }
    .container{
        display: flex;
        padding: 0px 0px;
        width: 100%;
        text-align: center;
    }
    .testominal{
        width: 576px;
    }
    .testominal-content p{
        margin-bottom: 50px;
        width: 450px;
    }
    .our-bigger h3{
        text-align: center;
        margin: 60px 0px;
    }
    .our-bigger img{
        width: 100%;
    }
    .our-content-firt{
        margin-top: 50px;
        width: 576px;
    }
    .our-content-first{
        border-radius: 0%;
        border: solid 2px rgb(219, 219, 219);
        margin: -7px -1px;
        padding: 9px;
    }
    .contact-state-us-content div{
    }
    .our-content-list{
        width: 100%;
        display: block;
    }
    .our-content-listyle a{
        text-decoration: none;
        color: #1f1f1f;
        font-weight: bold;
    }
    .our-content-listyle{
        text-align: left;
        border-radius: 0%;
        border: solid 2px rgb(219, 219, 219);
        width: 576px;
        color: #1f1f1f;
        font-size: 21px;
        margin-top: 50px;
        font-weight: 400;
    }
    .our-content-listyle-one{
        margin: 10px 10px;
    }
    .our-content-listyle-two{
        margin: 0px 10px;
        padding: 0px;
    }
    .our-content-listyle-three{
        margin:0px 10px;
        padding:0px;
    }
    .contact-state-us{
        padding: 0px 70px;
    }
    .contact-state-us-content{
        width: 576px;
    }
    .ob-form{
        width: 500px;
        background: white;
        padding: 100px;
        margin: 0;
        box-shadow: 7px 7px 10px 0 rgb(56 79 56 / 32%);
        background-color: #f7f7f7;
        float: none;
    }
    .ob-items{
        display: flex;
        width: 50%;
        margin-top: 0px;
    }
    .footer-content-list h2{
        font-size: 31px;
        font-weight: normal;
        text-align: left;
    }
    .footer-content-list div{
        width: 20%;
        margin: 3px 10px;
    }
    .text{
        width: 40%;
        display: block;
        margin: 0px 20px;
        text-align: left;
    }
    .title{
        display: flex;
        width: 576px;
        flex-wrap: wrap;
    }
    .title2{
        width: 60%;
        margin: 0px -20px;
    }
    .title3{
        width: 100%;
    }
    .title3 .text{
        margin: 0px 18px;
    }
    .title4{
        margin: 0px 18px;
    }
    .title2 .text{
        width: 70%;
        display: block;
        margin: 0px 20px;
        text-align: left
    }
    .title3 h2{
        color: white;
        font-weight: normal;
    }
    .title h2{
        color: white;
        font-weight: normal;
    }
    .title2 h2{
        color: white;
        font-weight: normal;
    }
    .title4{
        color: white;
        font-weight: normal;
    }
    .title3 h3{
        margin-bottom: 7%;
        margin-top: 10%;
        font-size: 20px;
        color: white;
        font-weight: normal;
    }
    title p{
        color: #999;
    }
    .title2 p{
        color: #999;
    }
    .title3 p{
        color: #999;
    }
    .title4 p{
        color: #999;
    }
    .text p{
        color: #999;
        width: 100%;
    }
    #font-icon{
        width: 84%;
        justify-content: space-between;
        padding: 13px;
        text-align: center;
        font-size: 30px;
        letter-spacing: 7px;
    }
    .about{
        margin: 25px 0px;
        font-size: 31px;
        font-weight: normal
    }
    .footer-content-list{
        display: flex;
        width: 992px;
        color: white;
        overflow: hidden;
        justify-content: center;
    }   
    #font-icon{
        display: flex;
        margin: -4px -19px;
    }
    .firstt{
        width: 313px;
    }
    .button-two{
        margin:17px -10px ;
    }
    .mailbox{
        margin: 19px -1px;
    }
}